name: Deploying sms-service to testing instance
on:
  push:
    branches: [ main ]
jobs:

  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: executing remote connection
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.CICD_SECRET }}
        port: ${{ secrets.PORT }}
        script: |
          cd /apps/github-workflows/mhealth-apps/
          sudo rm -rf sms-service
          sudo mkdir sms-service
          sudo chown -R cicd2:cicd2 sms-service
          git config --global --add safe.directory /apps/github-workflows/mhealth-apps/sms-service/      
          cd sms-service
          git clone -b main https://github.com/palladiumkenya/sms-service.git .
          git status
          cp /apps/configs/sms-service/.env /apps/github-workflows/mhealth-apps/sms-service/
          cp /apps/configs/sms-service/docker-compose.yml /apps/github-workflows/mhealth-apps/sms-service/
          cp /apps/configs/sms-service/nginx.dockerfile /apps/github-workflows/mhealth-apps/sms-service/
          cp /apps/configs/sms-service/php.dockerfile /apps/github-workflows/mhealth-apps/sms-service/
          cp -r /apps/configs/sms-service/nginx /apps/github-workflows/mhealth-apps/sms-service/
          docker-compose down
          docker-compose rm -f
          docker-compose --env-file .env up -d --build site
          # execute normal laravel commands
          docker-compose exec -T php composer install --ignore-platform-reqs --no-dev
          docker-compose exec -T php php artisan config:cache
          docker-compose exec -T php php artisan view:cache
          docker-compose exec -T php chmod -R 777 storage/
